<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Current.RenderMetas()
	@await RenderSectionAsync("Head_MetasSection", false)
	<title>@Current.RenderBrowserTitle()</title>
	<link type="image/x-icon" rel="shortcut icon" href="https://src.guap.ru/favicon.ico" />
	@*<link href="https://src.guap.ru/guap2/main.min.css" rel="stylesheet" />*@
	@await RenderSectionAsync("Head_LinksSection", false)
</head>

<body>
	<span id="totop" onclick="toTop();">↑</span>
	@await RenderSectionAsync("Body_InitsSection", false)

	<header>
		<div class="@Current.GetSiteContainer()">
			HEADER
		</div>
	</header>

	<main id="main" role="main">

		@if (Current.AllowBreadcrumb)
		{
			<div id="breadcrumb" class="@Current.BreadcrumbCssClass">
				<div class="@Current.GetPageContainer()">
					<ans-breadcrumb />
				</div>
			</div>
		}

		@*@if (Page.AllowTitle)
			{
			<div id="page_title" class="@Page.TitleCssClass">
			<div class="@Current.GetPageContainer()">
			<h2>@Page.Title.ToHtml()</h2>
			</div>
			</div>
			}*@

		@if (Page.OffContainer)
		{
			@RenderBody()
		}
		else
		{
			<div class="@Current.GetPageContainer()">
				@RenderBody()
			</div>
		}

	</main>

	<footer>
		<div class="@Current.GetSiteContainer()">
			FOOTER
		</div>
	</footer>

	@*<script src="https://src.guap.ru/libs/bootstrap-5.1.3/dist/js/bootstrap.bundle.min.js"></script>*@
	@*<script src="https://src.guap.ru/libs/ans2.prod.js"></script>*@
	@await RenderSectionAsync("Body_ScriptsSection", false)
</body>

</html>